# Ignore everything
**

# Whitelist .gitignore
!.gitignore

# Whitelist only specific file types in all subdirectories
!**/*.gds
!**/*.py
!**/*.md
!**/*.png
!**/*.json
!**/*.pptx
!**/*.whl
!**/*.zip
!**/*.tar.gz

# Allow folder structure so that Git can track the whitelisted files
!*/